### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [4]:
# Calcul of unique Players from column SN
total_player = len(purchase_data_df["SN"].unique())
summary_table = pd.DataFrame({"Total Players": [total_player]})
summary_table

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
# Calcul of unique items, average price, Number of Purchase, Total revenue
 item_count = len(purchase_data_df["Item Name"].unique())
 number_purchase = len(purchase_data_df["Purchase ID"].unique())
 average_price = purchase_data_df["Price"].mean()
 total_revenue = purchase_data_df["Price"].sum()

In [20]:
summary_table = pd.DataFrame({"Number of Unique Items":[item_count],
                              "Average Price":[average_price],
                              "Number of Purchases": [number_purchase],
                              "Total Revenue": [ total_revenue]})
# Create a summary data frame to hold the results
summary_table
info_pd = pd.DataFrame(summary_table2, columns=["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])
#Optional: give the displayed data cleaner formatting
info_pd
info_pd["Total Revenue"] = info_pd["Total Revenue"].astype(float).map("${:.2f}".format)
#info_pd["Total Revenue"] = info_pd["Total Revenue"].map("{:,}".format)
info_pd["Average Price"] = info_pd["Average Price"].map("{:.2f}".format)
#info_pd["Average Price"] = info_pd["Average Price"].astype(float).map("${:.2f}".format)
info_pd

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     NaN           nan                  NaN          $nan

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [22]:
 #Determine number of male and female from unique players
total_player = len(purchase_data_df["SN"].unique())
gender_group = purchase_data_df.groupby("Gender")
gender_group
gender_count = gender_group.nunique()["SN"]

# Percentage of diffenrent genders
percent_gender = (gender_count / total_player)* 100
# Summary table for gender and percentage
summary_table2 = pd.DataFrame({"Gender":[gender_count],"Total Count": [gender_group], "Percentage of Players":[percent_gender]})
summary_table2
info_pd = pd.DataFrame(summary_table, columns=["Gender", "Total Count", "Percentage of Players "])
info_pd
# Formatting of columns
#genp_summary["Total Count"] = genp_summary["Total Count"].map("{:.2f}".format)
#genp_summary["Percentage of Players"] = genp_summary["Percentage of Players"].map("{:.2f}".format)

# Indexing "Gender"
#df = genp_summary.set_index("Gender")

   Gender  Total Count  Percentage of Players
0     NaN          NaN                     NaN


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
# Let calculate the puchase price, the purchase price average and the purchase total by gender 
average_price = purchase_data_df["Price"].mean()
purchase_count = gender_group["Price"].count()
# Total purchase value
total_purchasepp = gender_group["Price"].sum()
average_purchasepp = total_purchasepp / gender_count
# Here is the summary table of all the above data 
summary_table3 = pd.DataFrame({"Purchase Count":[purchase_count],"Average Purchase Price": [average_price],
                              "Total Purchase Value":[total_purchasepp]," Avg Total Purchase per Person":[average_purchasepp]})
summary_table3
info_pd = pd.DataFrame(summary_table3, columns=["Purchase Count", "Average Purchase Price", "Total Purchase Value",
                                              "Avg Total Purchase per Person"])
info_pd
# Onptional: give the displayed data cleaner formatting
info_pd["Total Purchase Value"] = info_pd["Total Purchase Value"].astype(float).map("${:.2f}".format)
info_pd[ "Avg Total Purchase per Person"] = info_pd["Avg Total Purchase per Person"].map("{:.2f}".format)
#info_pd["Avg Total Purchase per Person"] = info_pd["Avg Total Purchase per Person"].astype(float).map("${:.2f}".format)

info_pd["Average Purchase Price"] = info_pd["Average Purchase Price"].astype(float).map("${:.2f}".format)
#info_pd["Average Purchase Price"] = info_pd["Average Purchase Price"].map("{:,}".format)
info_pd[ "Total Purchase Value"] = info_pd["Total Purchase Value"].map("{:.2f}".format)
info_pd

ValueError: setting an array element with a sequence.

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
# let establish the bins
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
# Create the name of the bins 
group_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40>"]
# Categorize the existing players using the age bins. Hint: use pd.cut()
pd.cut(purchase_data_df["Age"], bins, labels=group_age).head()

# Calculate the numbers and percentages by age groupe
age_count = len(total_player["Age"].count())
total_age = total_player["Age"].sum()
percent_age_= (age_count / total_age)* 100

# Here is the summary table of all the above data 
summary_table4 = pd.DataFrame({ " ":[group_names],"Total Count": [age_count], "Percentages of Players":[percent_age]})
summary_table4
info_pd = pd.DataFrame(summary_table3, columns=[" ", "Total Count", "Total Purchase Value",
                                              "Percentages of Players"])
info_pd
# Optional: give the displayed data cleaner formatting

info_pd["Percentages of Players"] = info_pd["Percentages of Players"].map("{:,}".format)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# let establish the bins
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
# Create the name of the bins 
group_age = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40>"]
# Categorize the existing players using the age bins. Hint: use pd.cut()
pd.cut(purchase_data_df["Age"], bins, labels=group_age).head()
#Run basic calculations to obtain purchase count, avg. purchase price.

purchase_count = purchase_data_df["Price"].count()
average_price = purchase_data_df["Price"].mean()
# Total Purchase Value or purchase total per person
total_purchasepp = purchase_data_df["Price"].sum()
# Avg Total Purchase per Person
average_purchasepp = total_purchasepp / gender_count
# Here is the summary table of all the above data 
summary_table5 = pd.DataFrame({" ":[group_age], "Purchase Count":[purchase_count],"Average Purchase Price": [average_price],
                              "Total Purchase Value":[total_purchasepp]," Avg Total Purchase per Person":[average_purchasepp]})
summary_table5
info_pd = pd.DataFrame(summary_table3, columns=[" ", "Purchase Count", "Average Purchase Price", "Total Purchase Value",
                                              "Avg Total Purchase per Person"])
info_pd
# Onptional: give the displayed data cleaner formatting
info_pd["Total Purchase Value"] = info_pd["Total Purchase Value"].astype(float).map("${:.2f}".format)
info_pd[ "Avg Total Purchase per Person"] = info_pd["Avg Total Purchase per Person"].map("{:.2f}".format)
#info_pd["Avg Total Purchase per Person"] = info_pd["Avg Total Purchase per Person"].astype(float).map("${:.2f}".format)
info_pd["Average Purchase Price"] = info_pd["Average Purchase Price"].astype(float).map("${:.2f}".format)
#info_pd["Average Purchase Price"] = info_pd["Average Purchase Price"].map("{:,}".format)
info_pd[ "Total Purchase Value"] = info_pd["Total Purchase Value"].map("{:.2f}".format)
info_pd

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
# Run basic calculations to obtain Purchase Count, Average Purchase Price, Total Purchase Value
purchase_count = len(total_player["Price"].count())
average_price = total_player["Price"].mean()
total_purchasepp = total_player["Price"].sum()
# Create a summary data frame to hold the results
summary_table5 = pd.DataFrame({"SN":[], "Purchase Count":[purchase_count],"Average Purchase Price": [average_price],
                              "Total Purchase Value":[total_purchasepp]," Avg Total Purchase per Person":[average_purchasepp]})
summary_table5
info_pd = pd.DataFrame(summary_table3, columns=["SN ", "Purchase Count", "Average Purchase Price", "Total Purchase Value",
                                              "Avg Total Purchase per Person"])
info_pd
# Onptional: give the displayed data cleaner formatting
info_pd["Total Purchase Value"] = info_pd["Total Purchase Value"].astype(float).map("${:.2f}".format)
info_pd[ "Avg Total Purchase per Person"] = info_pd["Avg Total Purchase per Person"].map("{:.2f}".format)
#info_pd["Avg Total Purchase per Person"] = info_pd["Avg Total Purchase per Person"].astype(float).map("${:.2f}".format)
info_pd["Average Purchase Price"] = info_pd["Average Purchase Price"].astype(float).map("${:.2f}".format)
#info_pd["Average Purchase Price"] = info_pd["Average Purchase Price"].map("{:,}".format)
info_pd[ "Total Purchase Value"] = info_pd["Total Purchase Value"].map("{:.2f}".format)
info_pd

TypeError: 'int' object is not subscriptable

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [23]:
# Retrieve the Item ID, Item Name, and Item Price columns
itemID_group = purchase_data_df.groupby("Item ID")
itemName_group = purchase_data_df.groupby("Item Name")
itemName_group[["Purchase ID", "SN", "Age", "Price"]].mean()
# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
number_purchase = len(purchase_data_df["Purchase ID"].unique())
item_price = ["Price"]
total_purchasepp = gender_group["Price"].sum()

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [25]:
itemName_group_df = itemName_group_df.sort_values("number_purchase", ascending=False)
itemName_group_df.head()

NameError: name 'itemName_group_df' is not defined